body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

h1 {
  font-size: 1.8rem;
  margin-top: 330px;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin-top: 0;
}
