/********************************
Full width page
********************************/
.full-width-container {
  width: 100%;
  box-sizing: border-box;
}
/********************************
Main navigation
********************************/

nav { 
  position:fixed; 
  width:300px;
  float: left;
}

#nickProfile {
  border-radius: 50%;
  max-height: 150px;
  margin-top: 22px;
  border: 3px solid #00648C
}

#mainNavigation { 
  position: fixed;
  z-index: 10;
  padding: 24px 24px 72px;
  width: 300px;
  height: 100%;
  text-align: center;
  padding: 0;
  background-color: #28AADC;
  color: #00648C;
}

#mainNavigation  h1{
  font-size: 4rem;
}

#mainNavigation li {
  font-size: 15px;
}

#mainNav li:hover  {
  color: white;
}

#contact li:hover  {
  color: white;
}

#mainNavigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#mainNavigation ul a{
  text-decoration: none;
}

#mainNavigation p {
  font-style: italic;
}
/** Position fixed makes it go to the bottom but I can't get it off the left side **/
#contact {
  bottom:0;
  background-color: #00648C;
  color: #28AADC;
  margin: 20px;
  display: block;
}

#contact li {
}
/********************************
Main Content
********************************/
#mainContent {
  margin: 10px 50px 66px 350px;
}

#mainContent h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #3B3B3B;

}

#mainContent h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #6D6D6D;
}

.separator {
  width: 100%;
    height: 2px;
    background-color: #e7e7e7;
    border: none;
    margin-top: 20px;
  }