/********************************
Full width page
********************************/
.full-width-container {
width: 100%;
max-width: 100%;
clear: both;
margin: 0 auto;
}
/********************************
Main navigation
********************************/

nav { 
  position:fixed; 
  width:300px;
  float: left;
}

#nickProfile {
  border-radius: 50%;
  max-height: 150px;
  margin-top: 20px;
  border: 3px solid #00648C
}

#mainNavigation { 
  position: fixed;
  z-index: 10;
  padding: 24px 24px 72px;
  width: 300px;
  height: 100%;
  text-align: center;
  padding: 0;
  background-color: #28AADC;
  color: #00648C;
}

#mainNavigation  h1{
  font-size: 4rem;
}

#mainNavigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#mainNavigation ul a{
  text-decoration: none;
}

.contact {
vertical-align: baseline;
}
/********************************
Main Content
********************************/
#mainContent {
  margin-left: 300px;
}